* { font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }
html, body { height: 100%; width: 100%; background: #EDF1F5; color: #031242; }
body { font-size: 1.3em; margin: 0; }
#container { height: 100%; width: 100%; max-width: 600px; text-align: center; margin: 0 auto; display: table; }
#container #align { display: table-cell; vertical-align: middle; width: 100%; }
p { margin: 40px auto 20px auto; font-weight: 400; }
a { color: #031242; text-decoration: none; }
.hlink { color: #031242; font-weight: bold; }
.hlink:hover { background: lightgrey; color: #031242; }
.sm { font-size: .8em; padding: 0 0 30px 0; margin: 0; }
.ps { margin: 0 0 0 0; padding: 20px 0 0 0; }
.ft { font-size: .6em; }
#token {height: 50px; position: absolute; pointer-events: auto; }
#tokenbubble {width: 900px; height: 600px; position: absolute; margin: -175px 0 0 -150px; pointer-events: none; }